
#audio-player-container {
  --seek-before-width: 0%;
  --buffered-width: 0%;

  position: relative;
  width: 100%;
  min-height: 85px;
  margin: 0;

}

#audio-player-container .elevenlabs-global-play {
  float: left;
  width: 40px;
  height: 40px;
  margin: 20px 2.5% 10px 2.5%;
  text-indent: -9999px;
  border: none;
  background: url(svg/play-button-svgrepo-com.svg) no-repeat top left;
  background-size: 40px 40px;
  fill: black;
}

#audio-player-container .elevenlabs-global-play.pause {
  background: url(svg/pause-button-svgrepo-com.svg) no-repeat top left;
  background-size: 40px 40px;
}

#audio-player-container path {
  stroke: #007db5;
}

#audio-player-container .time {
  float: left;
  width: 37px;
  margin: 28.5px 0 18.5px 0;
  text-align: center;
  font-size: 20px;
}

#audio-player-container output {
  float: left;
  clear: left;
  width: 32px;
  margin: 10px 2.5% 0 5%;
  text-align: center;
  font-size: 20px;
}

#audio-player-container input[type="range"] {
  position: relative;
  float: left;
  -webkit-appearance: none;
  width: 58%;
  height: 19px;
  margin: 30px 2.5% 20px 2.5%;
  margin: 0;
  padding: 0;
  outline: none;
}

#audio-player-container input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}

#audio-player-container input[type="range"]::before {
  position: absolute;
  top: 8px;
  left: 0;
  width: var(--seek-before-width);
  height: 3px;
  content: "";
  cursor: pointer;
  background-color: #007db5;
}

#audio-player-container input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  width: 15px;
  height: 15px;
  margin: -7px 0 0 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
}

#audio-player-container input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: #007db5;
}

#audio-player-container input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}

#audio-player-container input[type="range"]::-moz-range-progress {
  background-color: #007db5;
}

#audio-player-containerinput[type="range"]::-moz-focus-outer {
  border: 0;
}

#audio-player-containerinput[type="range"]::-moz-range-thumb {
  box-sizing: content-box;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 1px solid #007db5;
  border-radius: 50%;
  background-color: #fff;
}

#audio-player-container input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  background: #007db5;
}

#audio-player-container input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  color: transparent;
  border: solid transparent;
  background: transparent;
}

#audio-player-container input[type="range"]::-ms-fill-lower {
  background-color: #007db5;
}

#audio-player-container input[type="range"]::-ms-fill-upper {
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}

#audio-player-container input[type="range"]::-ms-thumb {
  box-sizing: content-box;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 1px solid #007db5;
  border-radius: 50%;
  background-color: #fff;
}

#audio-player-container input[type="range"]:active::-ms-thumb {
  transform: scale(1.2);
  background: #007db5;
}
