{% if show_speaker_label %}
<div class="elevenlabs-speaker">
  <strong>{{ voice }}</strong>
</div>
{% endif %}
{% if show_speaker_text %}
<div class="elevenlabs-text">
  <em>{{ text }}</em>
</div>
{% endif %}
<div{% if play_button_type != 'audio' %} style="display: none;"{% endif %}>
  <audio controls {{ attributes }}>
    <source src="{{ file_url }}" type="audio/mpeg">
  </audio>
</div>

